<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= foundProduct.name %></title>
</head>

<body>
  <h1><%= foundProduct.name %></h1>
  <div>
    <ul>
      <li>Price: $<%= foundProduct.price %></li>
      <li>Price: <a href="/products?category=<%= foundProduct.category %>"><%= foundProduct.category %></a></li>
    </ul>
  </div>
  <a href="/products">All Products</a>
  <a href="/products/<%= foundProduct._id %>/edit">Edit Product</a>
  <form action="/products/<%= foundProduct._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</body>

</html>